/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	max-width: 1440px;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/


/* basic styles */
html{

}

body{
  
}

.btn {
    padding: 10px 30px;
    font-weight: 500;
    background-color: #0D606F;
    border-radius: 10px;
}

/* Header */


.header {
    z-index: 2;
    position: relative;
    display: flex;
    height: 90px;
    width: 1440px;
    justify-content: space-between;
    background-color: rgba(242, 120, 92, 0.7);
}

.header-title {
    align-self: center;
    padding: 34px 156px;
    font-size: 32px;
    font-weight: 600;
    line-height: 38.88px;
    color: rgba(255, 255, 255, 1);
    
}

/* Navigation */

.header-nav {
    display: flex;
    align-items: center;
    
}

.header-list {
    display: flex;
    
}

.header-el {
    margin-right: 42px;
}

.header-link {
    font-size: 16px;
    font-weight: 500px;
    line-height: 21.17px;
    color : rgba(255, 255, 255, 1)
}

.header-btn-box{
   align-self: center;
   margin-right: 120px;
   
}

.header-btn {
    font-size: 16px;
    line-height: 21.17px;
    color: rgba(255, 255, 255, 1);
}

/* Main */

/* Preview */

.section-preview {
    z-index: 1;
    margin : -90px 0px 80px;
    position: relative;
    height: 765px;
    width: 1440px;
    background-image: url('/travel/images/garrett-parker-DlkF4-dbCOU-unsplash\ 1.jpg');
    background-repeat: no-repeat;
}
.preview-container{
    padding-top: 122px;
    padding-left: 120px;
    max-width: 892px;
}
.preview-heading {
    font-size: 80px;
    font-weight: 700;
    line-height: 96px;
    color: rgba(255, 255, 255, 1);
}

.preview-paragraph {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-style: italic;
    color: rgba(255, 255, 255, 1);
}

.preview-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 892px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    height: 95px;
}

.preview-form {
    display: flex;
    justify-content: space-between;
}

.preview-input {
    align-self: center;
    height: 22px;
    width: 560px;
    background-color: transparent;
    margin: 32px 0px 41px 41px;
    padding-left: 41px;
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
    line-height: 28.8px;
    color: rgba(242, 120, 92, 1);
    
}
.preview-input::placeholder{
    color:rgba(242, 120, 92, 1);
}

.preview-btn {
    padding: 13.5px 32.5px;
    font-size: 24px;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    margin: 18px;
    width: 282px;
   
}

/* Steps */

.section-steps {}

.steps-heading {
    position: relative;
    text-align: center;
    color: rgba(242, 120, 92, 1);
    font-size: 40px;
    line-height: 52.92px;
    margin: 80px 0px 40px 0px;
}

.steps-container {
    display: flex;
    justify-content: space-evenly;
}

.steps-block {
    display: flex;
    flex-direction: column;
}

.steps-icon {
    width: 100px;
    height: 100px;
}

.steps-icon-link {
    align-self: center;
}

.steps-text {
   margin: 30px 0px 0px 0px;
   font-size: 20px;
   line-height: 24px;
   font-weight: 400;
   color: rgba(13, 96, 111, 1); 
}

/* Destination */

.section-destinations {}

.destination-heading {
    position: relative;
    text-align: center;
    color: rgba(242, 120, 92, 1);
    font-size: 40px;
    line-height: 52.92px;
    margin: 96px 0px 47px 0px;
}

.destinations-box {}

.destination-img {}

.destination-icons {}

.destination-btn {}

/* Stories */

.section-stories {}

.stories-heading {}

.stories-container {}

.stories-block {}

.stories-img {}

.stories-description {}

.stories-text {}

.stories-btn {}

/* Footer */

.footer {}

.footer-copyrights {}

/* Footer list */

.footer-list {}

.footer-item {}

.footer-link {}